{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test page">
    <meta name="author" content="Ricardo Calvo, Jorge Morales">
    <!-- <link rel="icon" href="favicon.ico"> -->
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Inicio sesión | Django</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <!-- <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
          </div> -->

            <!-- Login Form -->
            <form action="/login/"method="POST"> {% csrf_token %}
                <input style="margin-top: 50px;" type="text" id="login" class="fadeIn second" name="username"
                    placeholder="Usuario">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" value="Inicia Sesión">
            </form>

            {% if not user_correct %}
                <p style="color: red;">El Usuario no existe en la base de datos.</p>
            {% endif %}
            {% if not pass_correct %}
                <p style="color: red;">Contraseña incorrecta.</p>
            {% endif %}
            <!-- Remind Passowrd -->
            <!-- <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div> -->

        </div>
    </div>
</body>

</html>